#authed-key-container {
    min-width: 400px;
    min-height: 400px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}